.section{
    position: relative;
    overflow: hidden;
    @include mobile {
        padding: 40px 0;
    }
    @include tablet {
        padding: 60px 0;
    }
    @include desktop {
        padding: 70px 0;
    }
    &::after{
        content: '';
        margin: 0 auto;
        max-width: 1296px;
        display: block;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        border-bottom: 2px solid #4d4d4d;
        @include mobile {
            left: 20px;
            right: 20px;
        }
        @include tablet_desktop {
            left: 60px;
            right: 60px;
        }
    }
    
}
.section-main{
    padding-top: 0;
    @include mobile_tablet {
        padding-top: 0;
    }
    .swiper-pagination{
        @include mobile {
            top: -40px;
            margin-bottom: 20px;
        }
        @include tablet {
            margin: 15px auto 60px;
        }
        @include desktop {
            margin: 15px auto 37px;
        }
    }
}
.section-bg{
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right bottom;
}
