.content-wrapper{
    margin: 0 auto;
    max-width: 1010px;
    box-sizing: border-box;
    text-align: center;
    @include mobile {
        padding: 0 40px;
    }
    @include tablet {
        padding: 0 60px;
    }
    @include desktop {
        padding: 0 30px;
    }
    .content-title{
        @include mobile {
            margin-bottom: 35px;
        }
        @include tablet_desktop {
            margin-bottom: 45px;
        }
    }
    .content-text{
        @include mobile {
            margin-bottom: 35px;
        }
        @include tablet_desktop {
            margin-bottom: 45px;
        }
    }
}