@import 'base/normalize'; 
@import 'base/variables';
@import 'base/mixins';
@import 'base/media';
@import 'base/fonts';
@import 'base/text';

@import 'base/icon-fonts';

@import 'base/custom';
@import 'parts/buttons';
@import 'parts/header';
@import 'parts/footer';

@import 'parts/container';
@import 'parts/section';

@import 'parts/sliders';

@import 'wrappers/content-wrapper';
@import 'wrappers/items-wrapper';
@import 'wrappers/figures-wrapper';



body{
    font-family:$font_family_SegoeUI;
    font-weight:$f_regular;
    line-height: 1;
    color: $white;
    background-color: $black;
}
body.mobile-menu-open{
    overflow:hidden;
}

#page{
	width:100%; 
	min-height:100%;
}
