footer.footer
    .container
        a.logo(href='#'): img(src="images/logo-min.png", alt="")
        ul.footer__nav
            li: a(href='#') Компанія
            li: a(href='#') Продукція
            li: a(href='#') Рішеня
            li: a(href='#') Підтримка
            li: a(href='#') Питання та відповіді
            li: a(href='#') Контакти
        .social
            a.social__link(href=''): span.social__icon.icon-facebook
            a.social__link(href=''): span.social__icon.icon-youtube
        span.copy © TREVENT, 2019. Дизайн розробляли ONCA
        #scrollTop.button.button-slide(onclick="scrollToTop();return false;"): span.icon.icon-arrow-top