$f_light:300;
$f_regular:400;
$f_medium:500;
$f_semi:600;
$f_bold:700;
$f_black:900;

$SegoeUI: Segoe UI; 
$ClearSans: Clear Sans; 

$font_family_SegoeUI: '#{$SegoeUI}', Helvetica, Arial, sans-serif;
$font_family_ClearSans: '#{$ClearSans}', Helvetica, Arial, sans-serif;

@mixin font($font,$type,$weight,$style:normal){
	@font-face{
		font-family:'#{$font}';
		src:url('../fonts/#{$font}-#{$type}.eot');
		src:local('nothing'),
		url('../fonts/#{$font}-#{$type}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$font}-#{$type}.woff') format('woff'),
		url('../fonts/#{$font}-#{$type}.ttf') format('truetype'),
		url('../fonts/#{$font}-#{$type}.svg##{$font}-#{$type}') format('svg');
		font-weight:$weight;
		font-style:$style;
	}
}

@include font(SegoeUI, Regular, $f_regular);
@include font(SegoeUI, Bold, $f_bold);
@include font(SegoeUI, Black, $f_black);

@include font(ClearSans, Regular, $f_regular);